# Node modules
/frontend/node_modules/
/backend/node_modules/

# Uploads (user-generated content)
backend/uploads/

# Server logs
logs.txt

# React build output
/frontend/build/

# Environment files
.env
/frontend/.env
/backend/.env
